body {
  margin: 0;
  font-family: "abril-text","Helvetica Neue",Helvetica,Arial,sans-serif,sans-serif;
  background-image: url('../images/brkln.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #121212;
}

button.btn {
  cursor: pointer;
}

button.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  outline: none;
  background-color: #FC9E07;
}

button.btn-circle:hover {
  background-color: #FFA719;
}

button.btn-regular {
  height: 50px;
  padding: 0 16px;
  color: black;
  border: solid 1px black;
  outline: none;
  background-color: white;
}

#boroughs button.btn-regular {
  margin: none;
  margin-left: -10px;
}

#boroughs button.btn-regular.clicked {
  background-color: #FC9E07;
  color: white;
}

#boroughs button.btn-regular:hover {
  background-color: #FFA719;
  color: white;
}

#top-nav {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: black;
  border-bottom: solid 3px #FC9E07;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

#top-nav.clicked {
  -ms-transform: translateY(70px);
  -webkit-transform: translateY(70px);
  transform: translateY(70px);

  -webkit-box-shadow: 4px 17px 46px 1px rgba(0,0,0,0.47);
  -moz-box-shadow: 4px 17px 46px 1px rgba(0,0,0,0.47);
  box-shadow: 4px 17px 46px 1px rgba(0,0,0,0.47);
}

#top-nav a.nav-link {
  position: relative;
  top: 24px;
  left: 16px;
  margin-left: 12px;
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
}

#top-nav a.nav-link.clicked {
  text-decoration: underline;
}

#menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;

  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

#menu-icon.clicked {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#filter-btn {
  background-color: #FC9E07;
  color: white;
  font-size: 1.2em;
}

#filter-btn:hover {
  background-color: #FFA719;
}

#filter-box {
  position: relative;
  top: 100px;
  margin: auto;
  width: 90%;
  height: 60%;
  min-height: 400px;
  padding: 10px;
  display: block;
  border: solid 1px white;
  text-align: center;

  -webkit-box-shadow: 4px 17px 46px 1px rgba(0,0,0,1);
  -moz-box-shadow: 4px 17px 46px 1px rgba(0,0,0,1);
  box-shadow: 4px 17px 46px 1px rgba(0,0,0,1);
}

#filter-box .filter-box-item {
  margin-top: 40px;
}

label.radio-label {
  margin-right: 14px;
}

#filter-box header {
  background-color: #FC9E07;
  color: white;
  font-size: 2em;
  padding: 10px 0;
  border: solid 1px white;
  text-align: center;
}

#filter-box article {
  margin-top: 10px;
  color: white;
  font-size: 1.5em;
  /*height: 62%;*/
  padding: 80px 0;
  border: solid 1px white;
  background-color: #222;
  text-align: center;
}

#purchase-types input[type="radio"] {
  position: relative;
  top: -5px;
}

#purchase-range input[type="text"] {
  width: 100px;
  height: 30px;
  padding: 8px;
  outline: none;
  font-size: 1em;
}

@media (min-width: 900px) {
  #filter-box {
    position: fixed;
    top: 200px;
    right: 40px;
    width: 60%;
    height: 60%;
    min-height: 400px;
    padding: 10px;
    display: block;
  }
}
